html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.global {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.homepage {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to right,
            rgb(45, 35, 62) 0%,
            rgb(37, 26, 56) 20%,
            rgb(68, 36, 90) 40%,
            rgb(128, 40, 146) 60%,
            rgb(126, 47, 172) 80%,
            rgb(89, 107, 149) 100%);
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.header {
    position: sticky;
    height: 70px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    z-index: 1;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(92, 91, 91, 0.612);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 0px 0px 10px 10px;
    z-index: -1;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    background: linear-gradient(to right, #63ecf8, #9c2fae);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.3s linear;
    text-decoration: underline;
    color: transparent;
}

/* .header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;

    width: 0%;
    height: 2px;

    background: linear-gradient(to right, #63ecf8, #9c2fae);
    transition: width 0.3s ease;
}

.header a:hover::after {
    width: 100%;
} */

.container_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    min-height: 70px;
    height: auto;

}

.left_container {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    z-index: 1;
    padding-left: 50px;
    /* border: 2px solid red; */
}

.left_container h3,
.left_container h1,
.left_container p {
    margin: 0px;
}

.right_container {
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.left_container h3 {
    background: linear-gradient(to right, #63ecf8, #9c2fae);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 25px;
}

.headings {
    background: linear-gradient(to right, #63ecf8, #9c2fae);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px;
    margin-bottom: 5px;
    color: transparent;
    display: inline-block;
}

.left_container h1 {
    font-size: 50px;
}

.right_container img {
    height: 450px;
    width: 400px;
    object-fit: cover;
    margin-bottom: -70px;
    background: transparent;
    /* border-radius: 10px 50px 10px 50px; */
}

.contact_btn {
    padding: 10px 20px;
    background: linear-gradient(to right, #63ecf8, #9c2fae);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.aboutsection {
    min-height: 80vh;
    max-height: 150vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0px auto; */
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 0px;
    background:
        /* linear-gradient(to right,
            rgba(45, 35, 62, 0.5),
            rgba(37, 26, 56, 0.5),
            rgba(68, 36, 90, 0.5),
            rgba(128, 40, 146, 0.5),
            rgba(126, 47, 172, 0.5),
            rgba(89, 107, 149, 0.5)) top / 100% 5% no-repeat, */
        linear-gradient(to bottom,
            #321B44 10%,
            #241232 20%,
            #100425 40%,
            #100425 100%);
}

.about_det {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.aboutsection p {
    width: 70%;
    color: white;
    font-size: 18px;
}

.grid_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);

    background-size: 80px 80px;
    mask-image: linear-gradient(to bottom, transparent, black 25%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 25%, black 100%);

    opacity: 0.7;
    z-index: 0;
    pointer-events: none;
}

.aboutsection h1,
.aboutsection p {
    position: relative;
    z-index: 2;
}

.grid_bg::after {
    content: "";
    position: absolute;
    inset: 0;

    background: repeating-linear-gradient(to right,
            transparent,
            transparent 79px,
            rgba(255, 255, 255, 0.15) 80px);

    opacity: 0.3;
}

.about_icons {
    position: relative;
    z-index: 2;
    /* border: 2px solid white; */
    color: white;
    width: 100%;
    margin-left: auto;
}

.train {
    position: absolute;
    transform: translateX(550px);
    /* border: 2px solid white; */
    transition: transform 2s ease-in-out;
}

.train:hover {
    position: absolute;
    transform: translateX(0px);
}

.contact {
    background-color: rgb(16, 4, 37);
    min-height: 70vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* justify-content: center; */
    align-items: center;
    padding: 50px 0px;
}

.contact_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.address_div {
    width: 50%;
    margin: 0px 80px;
    float: left;
}

.address_div p {
    color: white;
}

.contact_form {
    min-height: 60vh;
    width: 50%;
    float: right;
    border-radius: 15px;
}

.contact_form form {
    background: linear-gradient(135deg, rgb(35, 11, 57), rgb(18, 13, 45));
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    margin: 0px auto;
    width: 70%;
    color: white;
}

.contact_form form input,
.contact_form form textarea {
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(51, 39, 76);
    color: white;
    font-size: 16px;
    font-family: var(--font-josefin), var(--font-ubuntu), sans-serif;
}

.contact_form form input:focus,
.contact_form form textarea:focus {
    border: none;
    outline: none;
}

.social_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: white;
    margin: 50px 0px;
    font-size: 18px;
}

.social_icons a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.global::-webkit-scrollbar {
    width: 6px;
}

.global::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.global::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.projects {
    background: linear-gradient(135deg, #0f0225, #1a0635, #2a0b4a);
    color: white;
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.project_div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 80%;
    margin: auto;
}

/* LEFT SIDE */
.project_subdiv {
    width: 70%;
    position: relative;
}

.project_div:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    /* margin-left: -15px; */
}

.project_div:nth-child(even) .project_subdiv {
    text-align: right;
    align-items: flex-end;
    margin-left: -15px;
}

.project_div:nth-child(even) .project_subdiv .project_card {
    text-align: left;
    align-items: start;
}

.project_div:nth-child(even) .icons {
    justify-content: flex-end;
}

.featured {
    color: #00e0ff;
    font-size: 14px;
}

.project_subdiv h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.project_card {
    background: rgba(60, 20, 90, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    margin-right: -30px;
}

/* TEXT */
.project_card p {
    line-height: 1.6;
    font-size: 15px;
    color: #ddd;
}

/* ICONS */
.icons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.icons a {
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.icons a:hover {
    color: #00e0ff;
    transform: translateY(-3px);
}

/* IMAGE SIDE */
.image {
    width: 400px;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.skills_icons {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0px 0px 100px;
}

.skills_icons_div {
    color: white;
    display: flex;
    gap: 20px;
    font-size: 30px;
    justify-content: center;

}

.container {
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sigma_ball {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background: linear-gradient(135deg, rgba(99, 236, 248, 0.8), rgba(156, 47, 174, 0.8));
}

.sigma {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: white;
    z-index: 2;
}
.icon {
    position: absolute;
    font-size: 30px;
    color: white;

    animation: orbit linear infinite;
}
.icon:nth-child(1) {
    --angle: 20deg;
    --radius: 180px;
    animation-duration: 12s;
}

.icon:nth-child(2) {
    --angle: 80deg;
    --radius: 160px;
    animation-duration: 10s;
}

.icon:nth-child(3) {
    --angle: 140deg;
    --radius: 200px;
    animation-duration: 14s;
}

.icon:nth-child(4) {
    --angle: 200deg;
    --radius: 170px;
    animation-duration: 11s;
}

.icon:nth-child(5) {
    --angle: 260deg;
    --radius: 190px;
    animation-duration: 13s;
}

.icon:nth-child(6) {
    --angle: 320deg;
    --radius: 180px;
    animation-duration: 9s;
}

.icon:nth-child(7) {
    --angle: 50deg;
    --radius: 210px;
    animation-duration: 15s;
}

.icon:nth-child(8) {
    --angle: 110deg;
    --radius: 170px;
    animation-duration: 10s;
}

.icon:nth-child(9) {
    --angle: 300deg;
    --radius: 190px;
    animation-duration: 12s;
}

@keyframes orbit {
    from {
        transform: rotate(var(--angle)) translateX(var(--radius)) rotate(0deg);
    }
    to {
        transform: rotate(calc(var(--angle) + 360deg)) translateX(var(--radius)) rotate(-360deg);
    }
}

@media (max-width:767px){
    .container_div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;
    }
    .left_container, .right_container{
        width: 90%;
    }
    .about_det p{
        width: 90%;
    }
    .projects{
        display: flex;
        gap: 20px;
    }
    .contact_container{
        display: flex;
        flex-direction: column;
    }
    .address_div{
        width: 90%;
        margin: 0px auto;
    }
    .contact_form{
        width: 90%;
        margin: 0px auto;
    }
    .image{
        height: 200px;
        width: 200px;
        margin-top: 50px;
    }
    .header{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.icon_js { color: #F7DF1E; }
.icon_react { color: #61DAFB; }
.icon_html { color: #E34F26; }
.icon_css { color: #1572B6; }
.icon_python { color: #3776AB; }
.icon_linux{ color: #ffffff; width: 25px; height: 25px; border-radius: 10px; background-color: #000000;}
.icon_next { color: #000000; 
  width: 28px; height: 28px; border-radius: 50%; background-color: #fff;}